/* Style Precedents */


	* {
	
		margin: 0;
		padding: 0;
	
		}
		
	img {
	
		border: none;
	
		}
		
	a {
	
		outline: none;
	
		}
		
	ul {
	
		list-style-type: none;
	
		}
		
		
/* HTML5 */


	section,
	article,
	header,
	footer,
	nav,
	aside,
	hgroup {
	
		display: block;
		
		}